body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
}

.navbar {
  background-color: #072ab6;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: rgb(195, 0, 0);
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #0dc735;
}

